{% extends 'base/layout.html'%} {% load static %} {% block content %}



<form action="" method="POST">
	{% csrf_token %}	{{form.as_table}}
	<input type="text" name="" id="" class="form-control" maxlength="10" minlength="2" placeholder="Name" required="True" autofocus="True">
	<input type="email" name="" id="" class="form-control" maxlength="10" minlength="2" placeholder="Email" required="True" autofocus="True">
	<input type="number" name="" id="" class="form-control" maxlength="10" minlength="2" placeholder="phone" required="True" autofocus="True">
</form>

<!--<img src="{%static 'img/download.jpg'%}">
<ul>
    {% for i in 'shravani'%}
    <li>
        {{i}}
    </li>
    {% endfor %}

</ul>
<div class="card">
    hello
</div>-->
{% endblock %}